header.hero.is-primary
	.container-fluid
		.hero-body
			.columns
				.column.is-two-thirds
					h1.title Patterns Collection by Bao Nguyen
				.column
					.is-pulled-right v1.4.5
						

.container-fluid#maincode.hero-body
	.columns
		.column
			#data-container
			#pagination-container
		.column.is-two-thirds
			.preview
				.box
					button#download.button.is-primary(style="display:none") Download

