header.hero.is-primary
	.container-fluid
		.hero-body
			.columns
				.column.is-two-thirds
					h1.title Patterns Collection by Bao Nguyen
				.column
					.is-pulled-right v1.4.5
						

.container-fluid#maincode.hero-body
	.columns
		.column
			#data-container
			#pagination-container
		.column.is-two-thirds
			.preview
				.box
					button#download.button.is-primary(style="display:none") Download

if (process.env.NODE_ENV === 'dev')
	.container-fluid.hero-body
		.columns
			form#formAddComponent.column(enctype='multipart/form-data', method='POST')
				.field
					.file.is-boxed
						label.file-label
							input.file-input#imgUploader(type="file" name="imgUploader")
							span.file-cta
								span.file-icon
									i.fas.fa-upload
								span.file-label
									| Choose a file…
				.field
					button#add.button.is-primary Add new
