doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/pagination.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/download.js")
    script(src="/javascripts/pagination.min.js")
    script(src="/javascripts/fontawesome.js")
    script(src="/javascripts/main.min.js")
    
